<!-- <script type="module">
  import './colorGuessing.ts';
</script>

<section id="color-palette">
        <p class="palette-label">Choose your colors:</p>
        <div class="palette-buttons">
          <button id="guess-red" class="guess-red" aria-label="Select red" color="red"></button>
          <button
            id="guess-blue"
            class="guess-blue"
            aria-label="Select blue" color="blue"></button>
          <button
            id="guess-green"
            class="guess-green"
            aria-label="Select green" color="green"></button>
          <button
            id="guess-yellow"
            class="guess-yellow"
            aria-label="Select yellow" color="yellow"></button>
        </div>
      </section> -->