<section id="secret-code" class="hidden">
        <p class="secret-label">Secret Code:</p>
        <div class="secret-pegs">
          <span class="peg secret-peg" data-pos="0"></span>
          <span class="peg secret-peg" data-pos="1"></span>
          <span class="peg secret-peg" data-pos="2"></span>
          <span class="peg secret-peg" data-pos="3"></span>
        </div>
      </section>

      